<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="folio.css">
	<script src="jquery2.js"></script>
	<script src="script.js"></script>
	<title>Portfolio</title>
</head>
<body>
<div class="container">
	<div class="wrapper">
		<div class="grab">
			<a href="#"><img src="Images/grab.jpg"></a>
		</div>
		<div class="projects">
			<p>
				<a href="#"><img src="Images/take-quiz-large.jpg"></a>
				<a href="#"><img src="Images/jquery-plugin.jpg"></a>
				<a href="#"><img src="Images/mac-menu-00.gif"></a>
				<a href="#"><img src="Images/youtube.jpg"></a>
				<a href="#"><img src="Images/take-quiz-large.jpg"></a>
				<a href="#"><img src="Images/jquery-plugin.jpg"></a>
				<a href="#"><img src="Images/mac-menu-00.gif"></a>
				<a href="#"><img src="Images/youtube.jpg"></a>
				<a href="#"><img src="Images/take-quiz-large.jpg"></a>

			</p>
		</div><!--projects closed-->

		<div class="rightsideimage">
			<a href="#"><img src="Images/tohome.png"></a>
		</div> <!--rightsideimage closed-->
		<div class="reachme">
			<a href="#"><img src="Images/mailme1.jpg"></a>
			<div class=contactform>
						<form id="form">
							<b>Name: </b><input type="text" value="Enter Name here...">
							<b>E-mail: </b><input type="text" value="Enter email here...">
							<b>Message: </b><input type="text" value="Enter message here...">
							
						</form>
				</div> <!--contactform closed-->
		</div> <!--reachme closed-->
	</div> <!--wrapper closed-->
	<div class="navbar">
		<ul>
			<li><a href="#">About Me</a></li>
			<li><a href="#">My Portfolio</a></li>
			<li><a href="#">Contact</a></li>
		</ul>
		<div class="bottomstrip">

		</div>
	</div> <!--navbar closed-->
</div> <!--container closed-->

	
</body>
</html>